.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  max-height: 200px;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
