.place__paragraph {
  grid-area: text;
  margin: 0 0 26px 0;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
